body * {
	box-sizing: border-box;
}

body {
	padding: 2em;
  font-size: 12px;
  color: #444;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px #F2A5A5;
  text-align: center;
  background-color: #F2A5A5;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

strong {
  color: #e40;
}

details {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  padding: 1em;
}

.input {
  display: grid;
  grid-template-columns: 7rem 7rem;
}

.label-value {
  margin: 0.5em 1em;
}

.label-value label {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

input, select {
  display: block;
  text-align: right;
  padding: 0 1em;
  padding-top: 20px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border: none;
  border-bottom: solid 1px #f2a5a5;
  outline: none;
}

.input input {
  width: 6em;
}

.recipe input {
  text-align: center;
}

hr {
  border: none;
  border-top: 5px dashed #FFB6C1;
  height: 0;
  margin: 20px 0;
}

span {
  display: inline-block;
  text-align: right;
  width: 5em;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  width: 30em;
}

.row > * {
  margin: 0 1em;
}

.rate {
  width: 5em;
}

.val {
  width: 2em;
}

#table_chart {
  min-width: 25em;
  min-height: 8em;
}

tbody {
  font-size: 12px;
}

.result tbody {
  display: flex;
  flex-wrap: wrap;
}

.result tr {
  display: grid;
  grid-template-columns: 4.5em 4.5em;
  width: 15em;
}

.result tr > td:last-child {
  text-align: right;
}

/**************************/

li {
  margin: 0.5em;
}

em {
  color: #c00;
}

img {
  margin-left: 1em;
}

code {
  display: block;
  margin-top: 1em;
  padding: 0.5em;
  color: #088;
}

th {
  padding: 0 1em;
}

td {
  text-align: center;
}

b {
  color: #08f;
}