


.resource-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    min-width: 34%;
    margin: 1em 2em;
  }

  .resource-input {
    display: flex;
    & > * {
      min-width: 34%;
    }

    .input-field {
      width: 5em;

      & input {
        font-size: 24px;
      }
    }

    .resource-adjust {
      display: grid;
      grid-template-rows: 2em 2em;
      grid-template-areas:
        "up100   up1000"
        "down100 down1000";

      & button {
        margin: 0.25em;
        padding: 0 1ex;
        height: 2em;
        line-height: 2em;

        &:nth-child(1) { grid-area: up100 }
        &:nth-child(2) { grid-area: down100 }
        &:nth-child(3) { grid-area: up1000 }
        &:nth-child(4) { grid-area: down1000 }
      }
    }
  }

  .resource-select {
    
    & div {
      border: solid 1px #26a69a;
      color: #26a69a;
      width: 2em;
      text-align: center;
      font-size: 16px;    

      &::before {
        display: none;
      }
    }

    & input:checked+div {
      background-color: #26a69a;
      color: white;
    }
  }
}

/*****************/

.recipe-input {
  display: flex;
  margin-top: 1em;
  justify-content: center;

  & .input-field input {
    width: 14em;
    text-align: center;
    font-size: 20px;
    margin: 0 0.5em;
  }
}

.memo_button {
  width: 7em;
}

.memo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.memo-item {
  padding: 0;
  margin: 0.5em 1em;
  position: relative;
  overflow: hidden;
  width: 18em;
  border: solid 1px #2bbbad;

  & .set-recipe {
    transition: all .4s;
    padding-left: 0;
    padding-right: 3em;
    width: 100%;
    font-weight: bold;

    &::before {
      position: absolute;
      left: -3em;
      width: 3em;
      text-align: center;
      display: block;
      content: '▲';
      transition: all .4s;
    }
  }
}

.set-recipe:hover {
  padding-right: 0em;
  padding-left: 3em;
}

.set-recipe:hover::before {
  left: 1em;
}

.set-recipe:hover + .remove {
  right: -3em;
}

.remove {
  transition: all .4s;
  position: absolute;
  right: 0;
  width: 3em;
}

.remove:hover {
  width: 100%;
}

/*****************/

.table-result {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;

  .row {
    margin: 0;

    & .rate {
      display: inline-block;
      width: 5em;
      text-align: right;
    }

    & .val {
      width: 2em;
      text-align: right;
    }
  }
}

#table_chart {
  flex-grow: 1;
  min-width: 25em;
  min-height: 8em;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
}

/*@media screen and (width > 1000px) {*/
@media (width >= 1320px) {

  .input-container {
    width: 500px;
  }

  .table-result {
    flex-direction: column;
    margin-left: 2em;
  }
}

/*****************/

.result th {
  border-bottom: solid 2px #408;
}

.result td {
  min-width: 6em;
}

.result tr > * {
  text-align: right;
}

.result tr > *:first-child {
  text-align: center;
}
